{%extends 'base.html'%}
{% load static %}

{% block content  %}
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles\index.css' %}">
</head>
<body>
  <div class="overlay">
    <div class="row">
      <div class="col-5">
        <div class="content">
          <p class="text">
            TAKE CHARGE! <br>
            START YOUR HEALING
          </p>
          <p class="sub-text">
            If you feel less motivated to be alive, mentally burning to ashes, but wish to be better and more productive, 
            write it down for us and our vast community wil help. 
          </p>
          <div class="button">
            <a href="#"><button type="button" class="btn btn-sucess">Explore</button></a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <span></span>
      </div>
      <div class="col-3">
        <span></span>
      </div>
    </div>
  </div>
   

</body>



{% endblock %}